parameters:

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days
	savePath: "%tempDir%/sessions"

services:
	router: App\RouterFactory::createRouter
	
	authorizator: App\AclFactory::create

	# Models
	- App\Models\Acl
	- App\Models\Users

	# Forms
	- \App\Forms\SignFormFactory